Library/
Temp/
.vscode/
.vs/MetaCast_Github
.vsconfig
Logs/
UserSettings/
ProjectSettings/
Packages/
Assets/HTC.UnityPlugin/
Assets/SteamVR/
Assets/SteamVR_Input/
Assets/SteamVR_Resources/
Assets/StreamingAssets/
Assets/XR/
Assets/HTC.UnityPlugin.meta
Assets/SteamVR.meta
Assets/SteamVR_Input.meta
Assets/SteamVR_Resources.meta
Assets/StreamingAssets.meta
Assets/XR.meta
unityProject.vrmanifest
obj/
*,sln
*.csproj
*.sln
*.userprefs
*.unityproj
*.DS_Store
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
